<h1>Categories</h1>

<ul>
    <% categories.forEach(category=> { %>
        <li>
            <%= category.category_name %>
        </li>
        <% }) %>
</ul><%- include("partials/header", { title: title }) %>

    <main class="container">
        <h1>Categories</h1>
        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <%= category.category_name %>
                </li>
                <% }) %>
        </ul>
    </main>

    <%- include("partials/footer") %>