<%- include("partials/header", { title: title }) %>

    <main class="container">
        <h1>Service Projects</h1>
        <ul>
            <li><a href="/organizations">Organizations</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </main>

    <%- include("partials/footer") %>