<%- include("partials/header", { title: title }) %>

    <main class="container">
        <h1>Projects</h1>
        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <strong>
                        <%= project.project_name %>
                    </strong>
                    - <%= project.project_description %>
                </li>
                <% }) %>
        </ul>
    </main>

    <%- include("partials/footer") %>